@charset "UTF-8";

@media only print {
    .btn, button, input, label, tr > td:empty, .form-control, select, .inputRow, .form-inline, .editHeader,
    .removeHeader,.table>thead:first-child>tr:first-child>th.editHeader,
    .table>thead:first-child>tr:first-child>th.removeHeader{
        display: none;
    }
    hr{
        border-top: 1px solid black;
    }
    .container {
        width: auto;
    }

    /*body:after {*/
        /*content: "Lütfen Kağıdı Boşa Harcamayın!";*/
    /*}*/
}