body {
    background: url("../img/bg6.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html {
    overflow-y: scroll;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #9da7a3;
    margin: 1em 0;
    padding: 0;
}

#searchTable > tbody > tr > th, #searchTable > tbody > tr, #searchTable > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.table > tbody > tr > td, .table > thead > tr > th, .table > tbody > tr {
    text-align: center;
    vertical-align: middle;
}

.table{margin-bottom: 50px;}

.onlyPage{display:none;}

#loginButton {
    position: fixed;
    bottom: 20px;
    right: 104px;
}

#loginButtonSmall {
    position: fixed;
    bottom: 50px;
    right: 3%;
}

#searchListButton {
    position: fixed;
    bottom: 20px;
    left: 105px;
}

#searchListButtonSmall {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 32px;
}

#sendPrinterButton {
    position: fixed;
    bottom: 20px;
    left: 264px;
}

#sendPrinterButtonSmall {
    display: none;
    position: fixed;
    bottom: 95px;
    left: 32px;
}

#systemAdminButton {
    position: fixed;
    right: 94px;
    top: 20px;
}

#systemAdminButtonSmall{
    display: none;
    position: fixed;
    right: 32px;
    top: 20px;
}

/* User Login sayfası di */
.userLogin {
    padding-top: 85px;
}

/* IE 8 ve üstü için gerekli olan yazılar önceden gizleniyor.
 * Router.js'de eğer IE'den girilmişse show yapılıyor. */
.forIE8{
    display: none;
    color: white;
}

/* Bootstrap tooltip'in rengini değiştiriyoruz. */
.tooltip > .tooltip-inner {background-color: #337ab7;}
.tooltip-arrow{
    border-top-color:#337ab7 !important;
    border-bottom-color:#337ab7 !important;
}

/* Bootstrap Modal açıldığında sayfanın kaymaması için */
body.modal-open { padding-right:inherit !important; }