<td class="resultRow">
    <div>
        <span>{{cityName}}</span><input data-placement="top" title="Boş geçilemez!" type='text'
                                        onkeypress="return isNumber(event,'.editCityNameInput')"
                                        class="form-control text-center editCityNameInput"
                                        style='display: none;' value='{{cityName}}'/>
    </div>
</td>
<td class="editHeader resultRow">
    <button class="btn btn-success btn-sm editCity">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Düzenle
    </button>
    <button class="btn btn-primary btn-sm updateCity" style='display: none;'>
        <i class="glyphicon glyphicon-ok"></i>&nbsp;Kaydet
    </button>
</td>
<td class="removeHeader resultRow">
    <button class='btn btn-danger btn-sm deleteCity'>
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Sil
    </button>
    <button class="btn btn-danger btn-sm cancelCity" style='display: none;'>
        <i class="glyphicon glyphicon-remove"></i>&nbsp;İptal
    </button>
</td>