<a href="#menu" class="btn btn-danger onlyPage" style="display: block;" id="systemAdminButton">
    <span class="glyphicon glyphicon-user"></span>&nbsp;Hoşgeldiniz
</a>
<a href="#menu" class="btn btn-danger onlyPage" id="systemAdminButtonSmall">
    <span class="glyphicon glyphicon-user"></span>
</a>
<div class="form-inline">
    <div class="forIE8">Şehir İsmi</div>
    <input class="form-control" onkeypress="return isNumber(event,this.id)"
           data-placement="top" title="Boş geçilemez!" placeholder="Şehir İsmi" id="cityName" type="text">
    <button class="btn btn-primary btn-sm" id="saveCity">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Kaydet
    </button>
</div>
</br>
<table class="table table-bordered" style="background-color: white;" id="cityTemplateTable">
    <thead class="bg-primary">
    <tr>
        <th style="color: white;" class="col-md-3">Şehir İsmi</th>
        <th class="editHeader col-md-1"></th>
        <th class="removeHeader col-md-1"></th>
    </tr>
    </thead>
</table>

<a href="#search" class="btn btn-primary onlyPage" id="searchListButton">
    <span class="glyphicon glyphicon-search"></span>&nbsp;Listeden Sorgula
</a>
<a href="#search" class="btn btn-primary onlyPage" id="searchListButtonSmall">
    <span class="glyphicon glyphicon-search"></span>
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButton" onclick="printDiv()">
    <span class="glyphicon glyphicon-print"></span>&nbsp;Yazdır
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButtonSmall" onclick="printDiv()">
    <span class="glyphicon glyphicon-print"></span>
</a>

