<a href="#menu" class="btn btn-danger" id="systemAdminButton">     <span class="glyphicon glyphicon-user"></span>&nbsp;Hoşgeldiniz </a>
<div class="col-md-4 col-md-offset-4 text-center">
    </br> </br> </br> </br>
    <a href="#cities" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-home"></span>&nbsp;Şehir Tanımlama
    </a></br>
    <a href="#routes" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-road"></span>&nbsp;Güzergah Tanımlama
    </a></br>
    <a href="#routeTypes" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-sort"></span>&nbsp;Güzergah Tipi Tanımlama
    </a></br>
    <a href="#stations" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;Durak Tanımlama
    </a></br>
    <a href="#search" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-search"></span>&nbsp;Listeden Arama
    </a></br>
    <a href="rest/export" class="btn btn-default btn-block">
        <span class="glyphicon glyphicon-save-file"></span>&nbsp;Excele Gönder
    </a></br>
    <a href="/toyota-route/j_spring_security_logout" class="btn btn-danger btn-block">
        <span class="glyphicon glyphicon-off"></span>&nbsp;Sistem Yönetici Modundan Çıkış
    </a>
</div>

