<div class="form-inline">
    <a href="#menu" class="btn btn-danger onlyPage" style="display: block;" id="systemAdminButton">
        <span class="glyphicon glyphicon-user"></span>&nbsp;Hoşgeldiniz
    </a>
    <a href="#menu" class="btn btn-danger onlyPage" id="systemAdminButtonSmall">
        <span class="glyphicon glyphicon-user"></span>
    </a>
    <select data-placement="top" title="Lütfen Seçiniz!" class="form-control" id="citySelectAdd"></select></br></br>
    <select data-placement="top" title="Lütfen Seçiniz!" class="form-control"
            id="routeTypeSelectAdd"></select></br></br>
    <label class="forIE8">Güzergah Adı</label>
    <input data-placement="top" title="Boş geçilemez!" class="form-control"
           id="routeNameAdd" placeholder="Güzergah"
           type="text">

    <label class="forIE8">Toplam Süre</label>
    <input data-placement="top" title="Boş geçilemez!"
           class="form-control" id="totalDurationAdd"
           placeholder="Güzergah Toplam Süresi" type="text">

    <label class="forIE8">Peron No</label>
    <input data-placement="top" onkeypress="return isCharacter(event,this.id)" title="Boş geçilemez!"
           placeholder="Peron No" class="form-control" id="peronNoAdd"
           type="text">

    <label class="forIE8">Servis Aracı</label>
    <input onkeypress="return isCharacter(event,this.id)" data-placement="top" title="Boş geçilemez!"
           placeholder="Servis Aracı" class="form-control"
           id="vehicleTypeAdd" type="text">
    <button type="submit" class="btn btn-primary btn-sm saveRoute">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Kaydet
    </button>
    </br></br>

</div></br>
<table class="table table-bordered" id="routeTable" style="background-color: white;">
    <thead class="bg-primary">
    <tr class="label-primary" style="color: white">
        <th class="col-md-2">Şehir</th>
        <th class="col-md-2">Güzergah Tipi</th>
        <th class="col-md-1">Güzergah</th>
        <th class="col-md-1">Toplam Süre</th>
        <th class="col-md-1">Peron No</th>
        <th class="col-md-1">Servis Aracı</th>
        <th class="editHeader col-md-1"></th>
        <th class="removeHeader col-md-1"></th>
    </tr>
    </thead>
</table>
<a href="#search" class="btn btn-primary onlyPage" id="searchListButton">
    <span class="glyphicon glyphicon-search"></span>&nbsp;Listeden Sorgula
</a>
<a href="#search" class="btn btn-primary onlyPage" id="searchListButtonSmall">
    <span class="glyphicon glyphicon-search"></span>
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButton" onclick="printDiv()">
    <span class="glyphicon glyphicon-print"></span>&nbsp;Yazdır
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButtonSmall" onclick="printDiv()">
    <span class="glyphicon glyphicon-print"></span>
</a>