<td class="resultRow">
    <span id="cityNameSpan">{{city.cityName}}</span>
    <select data-placement="top" title="Lütfen Seçiniz!" class="citySelect form-control text-center citySelectAdd" style='display: none;'></select>
</td>
<td class="resultRow">
    <span id="routeTypeNameSpan">{{routeType.routeTypeName}}</span>
    <select class="routeTypeSelect form-control text-center routeTypeSelectAdd" data-placement="top" title="Lütfen Seçiniz!"
            style='display: none;'></select>
</td>
<td class="resultRow">
    <span>{{routeName}}</span>
    <input data-placement="top" title="Boş geçilemez!" class="form-control text-center routeNameAdd" type='text'
           style='display: none;' value='{{routeName}}'/>
</td>
<td class="resultRow">
    <span>{{totalDuration}}</span>
    <input id="totalDuration" data-placement="top" title="Boş geçilemez!" class=" form-control text-center totalDurationAdd" type='text'
           style='display: none;'
           value='{{totalDuration}}'/>
</td>
<td class="resultRow">
    <span>{{peronNo}}</span>
    <input onkeypress="return isCharacter(event,'.peronNoAdd')" data-placement="top" title="Boş geçilemez!" class=" form-control text-center peronNoAdd" type='text'
           style='display: none;' value='{{peronNo}}'/>
</td>
<td class="resultRow">
    <span>{{vehicleType}}</span>
    <input id="vehicleType" class=" text-center form-control vehicleTypeAdd" data-placement="top" title="Boş geçilemez!" type='text'
           style='display: none;' value='{{vehicleType}}'/>
</td>
<td class="resultRow editHeader">
    <button class="btn btn-success btn-sm editRoute">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Düzenle
    </button>
    <button class="btn btn-primary btn-sm updateRoute" style='display: none;'>
        <i class="glyphicon glyphicon-ok"></i>&nbsp;Kaydet
    </button>
</td>
<td class="resultRow removeHeader">
    <button class='btn btn-danger btn-sm deleteRoute'>
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Sil
    </button>
    <button class="btn btn-danger btn-sm cancelRoute" style='display: none;'>
        <i class="glyphicon glyphicon-remove"></i>&nbsp;İptal
    </button>
</td>