<td class="resultRow">{{route.city.cityName}}</td>
<td class="resultRow">{{route.routeType.routeTypeName}}</td>
<td class="resultRow">{{route.routeName}}</td>
<td class="resultRow">{{route.totalDuration}}</td>
<td class="resultRow">{{route.peronNo}}</td>
<td class="resultRow">{{route.vehicleType}}</td>
<td class="resultRow">{{stationName}}</td>
<td class="resultRow">{{stationNo}}</td>
<td class="resultRow">{{departureTime}}</td>
<td class="resultRow">{{arrivalTime}}</td>