<td class="resultRow cityName text-center">{{route.city.cityName}}</td>
<td class="resultRow routeTypeName text-center">{{route.routeType.routeTypeName}}</td>
<td class="resultRow">
    <span>{{route.routeName}}</span>
    <select data-placement="top" title="Lütfen Seçiniz!" class="routeSelect form-control text-center input-sm routeSelectStationPage"
            style='display: none;'></select>
</td>
<td class="resultRow">
    <span>{{stationName}}</span>
    <input data-placement="top" title="Boş geçilemez!" class=" form-control text-center input-sm stationNameAdd"
           type='text' style='display: none;' value='{{stationName}}'/>
</td>
<td class="resultRow">
    <span>{{stationNo}}</span>
    <input data-placement="top" onkeypress="return isNumber(event,'.stationNoAdd')" title="Boş geçilemez!" class="form-control text-center input-sm stationNoAdd"
           type='text' style='display: none;' value='{{stationNo}}'/>
</td>
<td class="resultRow">
    <span>{{arrivalTime}}</span>
    <input data-placement="top" title="Boş geçilemez!"  class=" form-control text-center input-sm arrivalTimeAdd"
           type='text' style='display: none;' value='{{arrivalTime}}'/>
</td>
<td class="resultRow">
    <span>{{departureTime}}</span>
    <input data-placement="top" title="Boş geçilemez!" class=" form-control text-center departureTimeAdd  input-sm"
           type='text' style='display: none;' value='{{departureTime}}'/>
</td>
<td class="resultRow editHeader">
    <button class="btn btn-success btn-sm onEditStation">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Düzenle
    </button>
    <button class="btn btn-primary btn-sm updateStation" style='display: none;'>
        <i class="glyphicon glyphicon-ok"></i>&nbsp;Kaydet
    </button>
</td>
<td class="resultRow removeHeader">
    <button class='btn btn-danger btn-sm deleteStation'>
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Sil
    </button>
    <button class="btn btn-danger btn-sm cancelStation" style='display: none;'>
        <i class="glyphicon glyphicon-remove"></i>&nbsp;İptal
    </button>
</td>