<div class="userLogin col-md-4 col-md-offset-4">
    <form method="post" role="form" action="/toyota-route/j_spring_security_check" class="text-center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title"><h4>Sistem Yönetici Girişi</h4></div>
            </div>
            </br>
            <div class="panel-body">
                <div class="form-group text-center">
                    <label class="forIE8" style="color:black;">Kullanıcı Adı</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control input-md" name="j_username" placeholder="Kullanıcı Adı"
                               required=""
                               autofocus="">
                    </div>
                </div>
                <div class="form-group text-center">
                    <label class="forIE8" style="color:black;">Şifre</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" name="j_password" placeholder="Şifre" required=""
                               class="form-control input-md"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" data-placement="bottom" id="userLoginButton">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;Giriş Yap
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>